---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";
import Footer from "@/components/Footer.astro";

import "@/styles/tailwind.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />
  <body
    class="mx-auto flex min-h-screen md:max-w-[872px] flex-col dark:bg-neutral-950 px-10 py-8 text-sm dark:text-neutral-400 antialiased"
  >
    <Header />
    <div class="mx-4 my-2">
      <slot />
    </div>
    <Footer />
  </body>
</html>
